@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  font-weight: 900;
  font-size: 18px;
  padding-left: 10px;
}

ul > li {
  font-size: 16px;
  padding-left: 16px;
}

p {
  padding-left: 16px;
}

a {
  padding-left: 16px;
}

a:hover {
  text-decoration: underline;
}